.result__logo {
  object-fit: contain;
  height: 100px;
  margin-right: 50px;
}

.result__header > a {
  text-decoration: none;
  color: #5271ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.result__header {
  display: flex;
  position: sticky;
  top: 0;
  background: rgb(32, 32, 32);
  z-index: 100;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 30px 5px 30px;
  border-bottom: 1px solid #ffbd4a;
}

.result__headerBody {
  height: 55px;
}

.result__headerBody > .search > .searchBox__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.result__headerBody > .search > .searchBox__input {
  max-width: 1.5vw;
  width: 2vw;
}

@media (max-width: 953px) {
  .result__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5;
  }
}

.result__results {
  margin-top: 33px;
  color: rgb(117, 115, 115);
  max-width: 650px;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-bottom: 100px;
}

.result__resultItem {
  margin: 40px 0;
}

.result__resultItem > a {
  text-decoration: none;
  color: aliceblue;
}

.result__resultItem > a:hover {
  text-decoration: underline;
}

.result__resultItem > a > h2 {
  font-weight: 500;
}

.result__resultItemSnippet {
  margin-top: 10px;
}

.result__resultItemImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
